<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="/comunes">⭐ Widgets comunes</ion-item>
          <ion-item routerLink="/estructura">Estructura</ion-item>
          <ion-item routerLink="/listas">Listas</ion-item>
          <ion-item routerLink="/formularios">Formularios</ion-item>
          <ion-item routerLink="/acciones">Acciones</ion-item>
          <ion-item routerLink="/overlays">Overlays</ion-item>
          <ion-item routerLink="/visual">Visual</ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
